<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--绑定修饰符-->
    <input type="text" v-model="val" @keyUp.enter="addItem">
    <hr>
    <ul>
        <li v-for="(item,index) in list">
            {{item}} <button @click="deleteItem(index)">x</button>
        </li>
    </ul>
</div>
<script src="../node_modules/vue/dist/vue.min.js"></script>
<script>
    let vm = new Vue({
        el: "#app",
        methods:{
            addItem(){
                this.list.push(this.val);
            },
            deleteItem(index){
                this.list.splice(index,1);
            }
        },
        data: {
            list:[],
            val:''
        }
    })
</script>
</body>
</html>